/ Page for uploading XML of containment in order to generate new profile
%script{:type => 'text/javascript', :charset => 'utf-8', :src => "/js/dim.js"}

:sass
  .error_section
    border-radius    : 10px
    background-color : beige
    border-style     : solid
    margin           : 10px
    padding          : 10px
  .error_header
    font-size        : 20px
    color            : red
    background-color : beige
    text-align       : center
  .error_message
    font-size        : 20px
    text-align       : center
    background-color : lightsalmon
    margin-left      : 25px
    margin-right     : 25px
    margin-top       : 25px
    margin-bottom    : 10px
    padding          : 25px
    border-radius    : 10px
    
  #submit_rch_xml
    margin           : 10px
    
  #rch_example_container
    background-color : beige
    margin           : 0 auto
    border           : solid 3px
    
  #rch_example_inner_container
    margin-left: 50px
    
- error = flash[:rch_parse_error]

%h1.page_title
  Upload Rosetta Containment XML
  
- if error
  %div.error_section
    %p.error_header
      <br>
      <b>There was a problem with the XML you tried to upload.  
      The error message is only telling you about the first problem in encountered.  Hopefully it is helpful.</b>
    %p.error_message
      &= error
    %p
      <br>

%form#submit_rch_xml{:method => 'POST', :enctype => 'multipart/form-data'}
  %fieldset
    %div
      %label
        Profile Name
      %input{:type => 'text', :name => 'profile_name', :value => '', :id => 'profile_name', :required => true}
    %div
      %input#rch_upload{:type => 'file', :name => 'rch_upload', :required => true}
      
    .clear

  %input.submission_button#submit_profile_upload{:type => "submit", :name => "rch_upload_submit", :value => "Upload RCH XML", :style => 'background-color:lightblue'}
<br>
%hr
%div#rch_example_container
  %div#rch_example_inner_container
    %h3#rch_example
      <br>
      <u>Example XML</u>
    %div
      <br>
    %p
      &lt?xml version="1.0" encoding="UTF-8"?&gt<br>
      &ltRCH&gt<br>
      &nbsp&nbsp&ltmds refid="MDC_DEV_SAMPLE_MDS"&gt<br>
      &nbsp&nbsp&nbsp&nbsp&ltvmd refid="MDC_DEV_SAMPLE_VMD"&gt<br>
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&ltchannel refid="MDC_DEV_SAMPLE_CHAN"&gt<br>
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&ltenumeration refid="MDC__SAMPLE_TYPE"/&gt<br>
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&ltnumeric refid="MDC_SAMPLE_SETTING"/&gt<br>
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&lt/channel&gt<br>
      &nbsp&nbsp&nbsp&nbsp&lt/vmd&gt<br>
      &nbsp&nbsp&lt/mds&gt<br>
      &lt/RCH&gt<br>
      <br>
<br>
%hr
%h3
  Valid XML Tags
%h4#valid_tags_table
  %table{:style => 'width:400px'}
    %tbody
      %th
        %tr{:style => 'border:1px solid black'}
          %td{:style => 'border:1px solid black'}
            %h6 Class
          %td{:style => 'border:1px solid black'}
            %h6 Tags (preferred listed first)
      %tr
        %td
      - @klass_tags.each do |klass, tags|
        %tr{:style => 'border:1px solid black'}
          %td
            =klass.to_s.demodulize
          %td{:style => 'border:1px solid black'}
            =tags.collect{|tag| "&lt#{tag}&gt"}.join(", ")