/ Page for uploading XML of containment in order to generate new profile
/ %script{:type => 'text/javascript', :charset => 'utf-8', :src => "/js/dim.js"}

:sass
  .error_section
    border-radius    : 10px
    background-color : beige
    border-style     : solid
    margin           : 10px
    padding          : 10px
  .error_header
    font-size        : 20px
    color            : red
    background-color : beige
    text-align       : center
  .error_message
    font-size        : 20px
    text-align       : center
    background-color : lightsalmon
    margin-left      : 25px
    margin-right     : 25px
    margin-top       : 25px
    margin-bottom    : 10px
    padding          : 25px
    border-radius    : 10px
    
  #submit_rch_xml
    margin           : 10px
    
  #rch_example_container
    background-color : beige
    margin           : 0 auto
    border           : solid 3px
    
  #rch_example_inner_container
    margin-left: 50px
    
- error = flash[:rch_parse_error]

%h1.page_title
  Upload Rosetta Profile XML
  
- if error
  %div.error_section
    %p.error_header
      <br>
      <b>There was a problem with the XML you tried to upload.  
      The error message is only telling you about the first problem in encountered.  Hopefully it is helpful.</b>
    %p.error_message
      &= error
    %p
      <br>

%form#submit_rch_xml{:method => 'POST', :enctype => 'multipart/form-data'}
  %fieldset
    / %div
    /   %label
    /     Profile Name
    /   %input{:type => 'text', :name => 'profile_name', :value => '', :id => 'profile_name', :required => true}
    %div
      %input#rcp_upload{:type => 'file', :name => 'upload', :required => true}
      
    .clear

  %input.submission_button#submit_profile_upload{:type => "submit", :name => "rcp_submit", :value => "Upload Rossetta Profile XML", :style => 'background-color:lightblue'}
<br>
%hr
