/ Page for uploading XML of containment in order to generate new profile
/ %script{:type => 'text/javascript', :charset => 'utf-8', :src => "/js/dim.js"}

:sass
  .error_section
    border-radius    : 10px
    background-color : beige
    border-style     : solid
    margin           : 10px
    padding          : 10px
  .error_header
    font-size        : 20px
    color            : red
    background-color : beige
    text-align       : center
  .error_message
    font-size        : 20px
    text-align       : center
    background-color : lightsalmon
    margin-left      : 25px
    margin-right     : 25px
    margin-top       : 25px
    margin-bottom    : 10px
    padding          : 25px
    border-radius    : 10px
    
  #submit_terms_to_check
    margin           : 10px
        
- errors  = flash[:error]
- success = flash[:success]

%h1.page_title
  Upload Terms to Check
  
- if errors
  %div.error_section
    %p.error_header
      <br>
      <b>Report for the terms you submitted...</b>
    - errors.each do |error|
      %p.error_message
        &= error
    %p
      <br>

%form#submit_terms_to_check{:method => 'POST', :enctype => 'multipart/form-data'}
  %fieldset
    %div
      %input#terms_to_check_upload{:type => 'file', :name => 'terms_to_check_file', :required => true}
      
    .clear

  %input.submission_button#submit_terms_to_check_upload{:type => "submit", :name => "terms_to_check_submit", :value => "Upload", :style => 'background-color:lightblue'}
