%table{:border => 1}
  %tbody
    %tr
      %th Enum_Values
      %th Enum_Descriptions
      %th Enumeration_Groups
    - rows.each do |row|
      %tr
        - row.each do |cell|
          %td
            =cell
