%table{:border => 1}
  %tbody
    %tr
      %th DIM
      %th UOM_MDC
      %th UOM_UCUM
      %th UCODE10
      %th CF_UCODE10
    - rows.each do |row|
      %tr
        - row.each do |cell|
          %td
            =cell
