# %div
#   %a.upload_rch.link_button{:href => '/upload_profile/pcd_rch'} Upload Rosetta Containment XML
# %br
# %div
#   %a.upload_rch.link_button{:href => '/upload_profile/pcd_xml'} Upload Standard XML
=@terms
